.App  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  background:  radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);;
  
}
.App .link{text-align: center;}
.App .label {
 font-size: 15px;
 color: rgb(92, 204, 195);
text-decoration: underline ;

}
.App .contact {
 text-decoration: none; 
font-size: 10px;

 }